<?xml version="1.0"?>
<launch>
    <!-- upload parameters -->
    <node pkg="neo_int_ws" type="move_base"  name="move_base_node" output="screen" required="true">

    <rosparam command="load" file="$(find neo_int_ws)/launch/goals.yaml"/>
</node>

    <node pkg="neo_int_ws" type="distance_calc_node"  name="distance_calc_node" output="screen" >
   	</node>
</launch>

